.chat-profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.user-chatProfile{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #002f34;
    padding: 0 10px;
    border-radius: 0.5rem;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px gray;
}

.message-container{
    border: 2px solid #002f34;
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 0 10px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px gray;
}

.message-send{
    margin-left: auto;
    margin-bottom: 10px;
}

.message-send input{
    margin-right: 5px;
    border: 2px solid #002f34;
    background-color: #f7f7f7;
    padding: 5px 5px;
    border-radius: 0.4rem;
}

.message-send button{
    border: none;
    background-color: #002f34;
    padding: 5px 5px;
    border-radius: 0.4rem;
    color: #f7f7f7;
    cursor: pointer;
}

.chat-photo{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.message-list{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.message-context{
    border: 2px solid #002f34;
    padding: 2px 5px;
    border-radius: 0.4rem;
    color: #f7f7f7;
    background-color: #002f34;
    box-shadow: 0 0 10px gray;
}

.message-flex {
    padding-left: 0;
}

