.featured-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 21%;
    border: 1px solid rgb(212, 208, 208);
    border-radius: 0.3rem;
    margin: 20px 20px;
}

.left-content{
    margin-right: auto !important;
    padding: 0 20px;
    margin-top: 0 !important;
}

.container-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-text{
    display: flex;
    color: rgba(0,47,52,.64);
}

.card-text p{
    padding: 0 50px !important;
}

@media (max-width: 920px) {
    .featured-box{
        width: 30%;
    }
}

@media (max-width: 768px) {
    .featured-box{
        width: 40%;
    }
}

@media (max-width: 450px) {
    .featured-box{
        width: 70%;
    }
}
