.main-form {
    border: 1px solid #cdd5d7;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: start;
    border-radius: 0.7rem;
}

.main-form span{
    color: rgba(0,47,52,.64);
    font-size: 0.9rem;
}

.form-breadcrumb {
    border-bottom: 1px solid #cdd5d7;
    padding-bottom: 10px;
    padding-left: 20px;
}

.form-detail, .form-location, 
.form-photo, .form-price{
    border-bottom: 1px solid #cdd5d7;
    padding-left: 20px;
}

.form-user{
    padding-left: 20px;
    
}

.form-detail input{
    padding: 10px 10px;
    border-radius: 0.2rem;
    border: 2px solid rgba(0,47,52,.64);
    width: 50%;
    margin: 10px 0;
}

/* .form-detail label{
    padding-top: 20px;
} */

.conditionBtn{
    margin: 10px 5px 10px 0px;
    border-radius: 0.2rem;
    border: 2px solid rgba(0,47,52,.64);
    background-color: white;
    padding: 10px 15px;
    cursor: pointer;
}

.conditionBtn.active{
    background-color: rgb(134, 119, 119) !important;
}

.form-detail button:hover{
    background-color: rgba(0,47,52,.64);
    color: #f7f7f7;
}

.form-detail p{
    margin-top: 0;
    font-size: 0.7rem;
    color:  rgba(0,47,52,.64);
}

.form-detail textarea{
    resize: none;
    padding: 10px 10px;
    border-radius: 0.2rem;
    border: 2px solid rgba(0,47,52,.64);
    width: 50%;
    margin-top: 10px;
    font-size: 1rem;
    color: #002f34;
    font-family: sans-serif;
}

.form-price input{
    padding: 10px 10px;
    border-radius: 0.2rem;
    border: 2px solid rgba(0,47,52,.64);
    width: 50%;
    margin: 10px 0;
}

.form-location input{
    padding: 10px 10px;
    border-radius: 0.2rem;
    border: 2px solid rgba(0,47,52,.64);
    width: 50%;
    margin: 10px 0;
}

.form-user input{
    padding: 10px 10px;
    border-radius: 0.2rem;
    border: 2px solid rgba(0,47,52,.64);
    width: 50%;
    margin: 10px 0;
}

.form-user img{
    border-radius: 50%;
    height: 100px;
    margin: 20px 0;
}

.change-form{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}