.form-button h2{
    text-align: center;
}

.next{
    border: 2px solid #002f34;
    margin-top: 20px;
    color: #f7f7f7;
    background-color: #002f34;
    padding: 10px 50px;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    cursor: pointer;
    margin-left: 40%;
}

.next:hover{
    color: #002f34;
    background-color: #f7f7f7;
}

.previous{
    border: 2px solid #002f34;
    margin-top: 20px;
    color: #f7f7f7;
    background-color: #002f34;
    padding: 10px 50px;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    cursor: pointer;
    margin-left: 40%;
}

.previous:hover{
    color: #002f34;
    background-color: #f7f7f7;
}

.submit{
    border: 2px solid #002f34;
    margin-top: 20px;
    color: #002f34;
    background-color: #f7f7f7;
    padding: 10px 50px;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    cursor: pointer;
    margin-left: 10px;
}

.submit:hover{
    color: #f7f7f7;
    background-color: #002f34;
}